body{
    background-image: url(./img/background.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.topo{
    background-color: rgb(85, 156, 114);
}
h1{
    color:#2c2c2c;
}
.masthead{
    padding-top: 40%;
    background-image: url(./img/web_search.png);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 200px;
    width:100%;
}
.cardsCollection{
    position: absolute;
}
.card{
    position:relative;
    float:left;
    margin-left:10%;
    margin-top:2%;
    padding:1.5%;
    max-width: 300px;

}
.card-title{
    font-weight: bold;
    text-align:center;
}

