body{
    background-image: url(./background.png);
}
.apresentacao-1{
    position:absolute;
    top:10%;
    left: 60%;
}
.apresentacao-1-conteudo{    
    position: absolute;
    top:20%;
    right: 100%;
    width:100%;
    font-family: monospace;
    font-size: large;
}

.apresentacao-2{
    width:100%;
    position:absolute;
    top:80%; 
}
.apresentacao-2-conteudo {
    position: absolute;
    top: 20%;
    float:right;
    width:100%;
}

.apresentacao-2 > img{
    max-width: 40%;
}